body {
    background-color: #99CCFF;
}

#top {
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #33658A;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    padding-left: 10px;
}

#top p {
    font-size: 2.5em;
    color: rgb(0, 139, 213);
    margin: 2px;
}

#top a {
    font-size: 1.25em;
    text-decoration: none;
    color: gray;
    transition: 0.3s cubic-bezier(.51,.01,.43,.99);
}

#top a:hover {
    font-size: 1.75em;
    text-decoration: none;
    color: rgb(118, 207, 255);
}

#purchase-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
}

#preview {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30vw;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.464);
    border-width: 3px;
    border-style: solid;
    border-color: #33658A;
    padding: 20px;
    margin: 0;
}

.text-background {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 3px;
}

.text-head {
    font-size: 2em;
    margin: 0;
    text-decoration: none;
}

.text {
    font-size: 1.25em;
    margin: 0;
    text-decoration: none;
}

.image-background {
    background-color: rgba(255, 255, 255, 0.656);
    display: flex;
    padding: 6px;
}